.cabecarioTabelaFix{
    overflow: auto;
}

.cabecarioTabelaFix thead th{
    position: sticky;
    top: 0;
    z-index: 1
}

.rolar{
    
}

.imagem{
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right:  2px solid white;
    
    background: dimgray;
    
    width: 100px;
    height: 200px;
    
    max-width: 150px;
    max-height: 250px;
}