.cabecarioTabelaFix{
    overflow: auto;
}

.cabecarioTabelaFix thead th{
    position: sticky;
    top: 0;
    z-index: 1
}

.rolar{
    
}

.imagem{
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right:  2px solid white;
    
    background: dimgray;
    
    width: 512px;
    height: 512px;
    
    max-width: 512px;
    max-height: 734px;
}

.jogoDetalhesInput{
    border-top: 2px solid black;
    border-bottom: 2px solid white;
    border-left: 2px solid black;
    border-right:  2px solid white;
    
    color: black;
    background: white;
    
    margin-left: 5px
}

.espacamentoTabela tr{
    margin-bottom: 20px; /* Define espaço entre as linhas */
    display: block; /* Necessário para que a margem funcione */
}